body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: Inter, sans-serif;
  padding: 20px;
  color: #222;
}


h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.italico {
  font-style: italic;
}

h1,
h2,
p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 10px 10px 50px 50px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

hr {
  height: 1px;
  background-color: #341E18;
  border-color: #341E18;
}


h1 {
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
}

h2 {
  font-family: Italiana;
  margin-bottom: 10px;
}

.nome span {
  font-family: Italiana;

}

.item {
  display: flex;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.sabor,
.sobremesa {
  text-align: left;
  width: 75%;
}

.preco {
  text-align: right;
  width: 25%;
  font-weight: 600;
}

/* FOOTER */

footer {
  font-size: 14px;
  background-color: #341E18;
  color: #DEB887;
  border-radius: 0px 0px 50px 50px;
}

.endereco {
  margin-bottom: 5px;
  margin-top: -15px;
  padding: 5px;
}